<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="airtel" class="springex.springex.Airtel">
<property name="dataStrength" value="airtel data strength is good"></property>

</bean>
<bean id="idea" class="springex.springex.Idea">
<constructor-arg name="dataStrength" value="Idea Strength is good"></constructor-arg>

</bean>

</beans>